 <header>
  <div class="images">
   
     <img src= "https://i.pinimg.com/originals/b4/92/f7/b492f770d38407d45944e88b680af420.png"/>
    <img src= "https://i.pinimg.com/originals/35/06/08/350608d685d6c8cf869b5c7826f182f7.png"/>
       <img src="https://i.pinimg.com/originals/57/fe/18/57fe18da854cf9ba6d4a747176fa3fea.png"/>
    <img src="https://i.pinimg.com/originals/b9/36/5d/b9365d099d721bbb29a2d785c6189e34.png"/>
   <img src="https://cdn.pixabay.com/photo/2016/01/05/02/23/roses-1121848_960_720.png"/>
  </div>
  <div id= "extra">  
    <a href="">★ GROOVY PLAYLIST FOR PERSONAL DAYS </a>
   <a href="">★ FAVORITE NOVELS</a>
    <a href="">★  RECOMMENDED MOVIES/SHOWS/PAINTINGS</a>
    <a href="">★ BLOG DATES </a> 
      </div>  
  <div id= "header"> 
  <h1 style="text-shadow: 4px 4px 2px #5483A4"> <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">  ❤ TEA TIME WITH LIMETREE ❤</h1> 
  </div> 
      </header>
  
